<footer>
    <ul>
      <li class="contacts">
        <a href="https://github.com/Shikhar1504"><img src="/assets/github.svg" alt="Github"></a>
        <a href="https://www.linkedin.com/in/shikhar-sinha-b14299249/"><img src="/assets/linkedin.svg" alt="Linkedin"></a>
        <a href="https://www.instagram.com/shikharsinha154?igsh=NHZnNWdxMDR3dGdp"><img src="/assets/instagram.svg" alt="Instagram"></a>
      </li>
      <li id="Copyright">Shikhar Sinha &copy</li>
    </ul>
</footer>
<script>
  var date = new Date().getFullYear()
  document.getElementById("Copyright").innerHTML = `Shikhar Sinha &copy ${date}`
</script>
</body>
</html>