<%- include('partials/header.ejs') %>
<div class="content content-preview">
    <div class="preview">
        <div class="view-cover">
            
            <span class="view-text">
                <div class="title" id="view-title">I'm  Shikhar Sinha a Fullstack Web-Developer </div>
                <div class="date" id="view-date">About </div>
                <div class="note" id="view-note">
                    Welcome to the documentation section of the Book Review website.This project focused on creating a dynamic website that manages and reviews books, offering users the ability to read, add, edit, and delete book details.
                    </div>
                <div class="date" id="view-date">Project Overview :</div>
                <div class="note" id="view-note">The Book Review website allows users to interact with a database containing comprehensive details of books. Users can read, add, edit, and delete book information, with certain features restricted to authorized users
                </div>
                <div class="date" id="view-date">Key Features : </div>
                <div class="note" id="view-note">Stores detailed information about books, including title, author, genre, reviews, and cover images sourced from OpenLibrary.org. Users can browse through the collection of books and view their details. Authorized users can add new books, including relevant details and cover images. Books can be sorted on basis of either title or rating. Editing and deletion features are restricted to authorized administrators.</div>
            </span>
          </div>
        <div class="btns">
            <a class="back" href="/"><button  id="submit">Back</button></a>
        </div>
    </div>
</div>
<%- include('partials/footer.ejs') %>